services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "9090:9090"
    environment:
      AccessKeyID: ${AccessKeyID}
      SecretAccessKey: ${SecretAccessKey}
      PORT: 9090
    